@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Shadows+Into+Light&display=swap');

.App {
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  min-height:100vh;
  font-family: 'Architects Daughter', cursive;
}
@media (min-width: 320px){
  .App{
    background-image: url("https://res.cloudinary.com/dsmdcnoys/image/upload/v1643545434/Varios/Wallmobile_vv8ulj.png");
  }
  
  }
  
  @media (min-width: 768px){
      .App{
        background-image: url("https://res.cloudinary.com/dsmdcnoys/image/upload/v1643544910/Varios/Wallpaper_pqabqa.webp");
      }
      }
